.s00 { background: url('imgs/farmer.png') no-repeat 0.554% 10.052%; width: 159px; height: 107px; }
.s01 { background: url('imgs/farmer.png') no-repeat 26.096% 6.702%; width: 127px; height: 107px; }
.s02 { background: url('imgs/farmer.png') no-repeat 49.319% 1.911%; width: 107px; height: 120px; }
.s03 { background: url('imgs/farmer.png') no-repeat 70.478% 0.527%; width: 100px; height: 114px; }
.s04 { background: url('imgs/farmer.png') no-repeat 70.478% 0.527%; width: 100px; height: 114px; }

.s10 { background: url('imgs/farmer.png') no-repeat 6.744% 26.283%; width: 113px; height: 107px; }
.s11 { background: url('imgs/farmer.png') no-repeat 29.926% 27.282%; width: 113px; height: 120px; }
.s12 { background: url('imgs/farmer.png') no-repeat 51.688% 27.516%; width: 114px; height: 128px; }
.s13 { background: url('imgs/farmer.png') no-repeat 74.262% 27.516%; width: 114px; height: 128px; }
.s14 { background: url('imgs/farmer.png') no-repeat 96.632% 27.516%; width: 112px; height: 128px; }

.s20 { background: url('imgs/farmer.png') no-repeat 6.744% 50.321%; width: 113px; height: 126px; }
.s21 { background: url('imgs/farmer.png') no-repeat 29.738% 50.321%; width: 107px; height: 126px; }
.s22 { background: url('imgs/farmer.png') no-repeat 51.688% 50.321%; width: 114px; height: 126px; }
.s23 { background: url('imgs/farmer.png') no-repeat 74.262% 50.321%; width: 114px; height: 126px; }
.s24 { background: url('imgs/farmer.png') no-repeat 96.632% 50.321%; width: 112px; height: 126px; }

.s30 { background: url('imgs/farmer.png') no-repeat 6.744% 73.155%; width: 113px; height: 127px; }
.s31 { background: url('imgs/farmer.png') no-repeat 29.406% 73.184%; width: 120px; height: 126px; }
.s32 { background: url('imgs/farmer.png') no-repeat 52.017% 73.155%; width: 120px; height: 127px; }
.s33 { background: url('imgs/farmer.png') no-repeat 74.07% 73.155%; width: 121px; height: 127px; }
.s34 { background: url('imgs/farmer.png') no-repeat 97.43% 72.484%; width: 128px; height: 128px; }

.s40 { background: url('imgs/farmer.png') no-repeat 6.096% 96.043%; width: 127px; height: 127px; }
.s41 { background: url('imgs/farmer.png') no-repeat 29.219% 96.043%; width: 114px; height: 127px; }
.s42 { background: url('imgs/farmer.png') no-repeat 52.017% 96.043%; width: 120px; height: 127px; }
.s43 { background: url('imgs/farmer.png') no-repeat 74.545% 95.91%; width: 127px; height: 133px; }
/* There is no .s44. */
