<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="maxHistory" value="5" />
        <add key="gtest" value="../bin/UnitTest/Flat_World.exe" />
        <add key="gtest-params" value="" />
        <add key="gtest-filters" value="" />
    </appSettings>
</configuration>